script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	Vue.prototype.moment = moment;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				checked: false,
				author: this.parseObj(!{JSON.stringify(author)}),
				user: this.parseObj(!{JSON.stringify(user)}),
				action: '/login',
				distinct: this.parseObj(!{JSON.stringify(distinct)}),
				data: this.parseObj(!{JSON.stringify(data)}),
				doc: this.parseObj(!{JSON.stringify(doc)}),
				sliderIndex: 0,
				sliderInterval: null,
				isArticleVisible: false,
				article: '',
				timeout: false,
				articleTimeout: false,
				loading: true,
				timeoutId: '',
				wWidth: window.innerWidth,
				wHeight: window.innerHeight,
				pwv: false
			}
		},
		watch: {
		},
		mounted: function(){
			var self = this;
			self.timeoutId = setTimeout(() => {
				self.loading = false
			}, 100);
			if (self.data && self.data !== '' && self.data.length > 0) {
				self.article = (!self.doc || self.doc === '' ? '' : self.doc.category)
				if (self.article === '' && self.data.map((doc)=>doc.category).filter((item)=>(item === 'blog' || item === 'draft' || item === 'documents')).length === self.data.length) {
					//- self.doc = self.data[0]
					self.article = self.data[0].category
				} else {
					self.article = window.location.hash.replace('#', '')
				}
				if (self.article && self.article !== '' && self.article !== 'blog' && self.article !== 'draft' && self.article !== 'documents') {
					self.initOpenArticle(self.article)
				}
				var length = self.data.map((doc) => doc.media.length).sort()[0];//(!self.doc ? 0 : self.doc.media.length);
				self.sliderInterval = setInterval(function(){
					if (self.sliderIndex < (length - 1)){
						self.sliderIndex++;
					} else {
						self.sliderIndex = 0;
					}
				}, 5000)

			}
			window.addEventListener('resize', self.resizeFrame);
		},
		beforeDestroy() {
			var self = this;
			clearInterval(self.sliderInterval)
			clearTimeout(self.timeoutId);
			window.removeEventListener('resize', self.resizeFrame)

		},
		methods: {
			parseObj(obj) {
				if (!obj) return '';
				return obj;
			},
			resizeFrame() {
				var self = this;
				self.wWidth = window.innerWidth;
				self.wHeight = window.innerHeight;
			},
			validatePassword: function() {
				var self = this;
				var pw1el = document.getElementById('pw1');
				var pw2el = document.getElementById('pw2');
	
				self.pwv = (!pw1el || !pw2el ? false : pw1el.value === pw2el.value)
			},

			initOpenArticle(article) {
				var self = this;
				var rh = new RegExp(article)
				//- console.log(article, window.location.hash)
				if (window.location.hash && rh.test(window.location.hash)) {
					if (article === 'donate') {
						var db = document.createElement('script');
						db.type = 'text/javascript';
						db.defer = true;
						db.src = 'https://donorbox.org/install-popup-button.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(db, s);
						self.handleOpenArticle(article)
					} else if (article !== 'blog') {
						self.handleOpenArticle(article)
					}
				} else if (article !== 'blog') {
					window.location.hash = '#'+article
					self.handleOpenArticle(article)
				}

			},
			checkUser(e) {
				var self = this;
				//- console.log(e)
				var user = e.target.value;
				$.post('/auth/check/'+user)
				.then(function(result) {
					//- console.log(result)
					if (!result || result === '') {
						self.action = '/register'
					} else {
						self.action = '/login'
					}
					self.checked = true;
				})
				.catch(function(err){
					if (err) {
						self.action = '/register'
						self.checked = true
					}
				})
			},
			handleOpenArticle(article) {
				var self = this;
				var rx = new RegExp(article);
				if (!rx.test(window.location.href)) {
					//- console.log(rx, rx.test(window.location.href))
					if (window.location.href !== '/') {
						var hr = '/#'+article
						console.log(hr, window.location.pathname, window.location.pathname.split('/')[1])
						var hrf = window.location.pathname.split('/')[1];
						if (hrf === 'blog' || hrf === 'documents') {
							console.log('was blog')
							return window.location.href = hr
						} else {
							window.location.hash = '#'+ article
							console.log('no blog refer')
						}
						//- return window.location.href = '/'+article
					}
				}
				var isArticleVisible = this.isArticleVisible
				this.isArticleVisible = !isArticleVisible;
				this.article = article;
						
				setTimeout(() => {
					var timeout = self.timeout;
					self.timeout = !timeout;
				}, 325)

				setTimeout(() => {
					var articleTimeout = self.articleTimeout;
					self.articleTimeout = !articleTimeout
				}, 350)

			},

			handleCloseArticle() {
				var self = this;
				var articleTimeout = self.articleTimeout;
				self.articleTimeout = !articleTimeout

				setTimeout(() => {
					var timeout = self.timeout;
					self.timeout = !timeout;
				}, 325)

				setTimeout(() => {
					var isArticleVisible = this.isArticleVisible
					this.isArticleVisible = !isArticleVisible;
					this.article = '';
				}, 350)
				
				//- window.location.href = '/'
			},

			handleClickOutside(event) {
				//- if (this.wrapperRef && !this.wrapperRef.contains(event.target)) {
					if (this.isArticleVisible) {
						this.handleCloseArticle();
					}
				//- }
			}

		}
	})
